<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"rejoice/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"rejoice/feat"} /-->

<!-- wp:pattern {"slug":"rejoice/intro"} /-->

<!-- wp:pattern {"slug":"rejoice/video"} /-->

<!-- wp:pattern {"slug":"rejoice/testimonials"} /-->

<!-- wp:pattern {"slug":"rejoice/latest-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->